data/
patients-api/node_modules/
patients-api/uploads/
patients-frontend/node_modules/
mongod
#patients-frontend/.env.development
nohup.out
patients-api/nohup.out
patients-api/stderr.txt
patients-api/stdout.txt
patients-frontend/stderr.txt
patients-frontend/stdout.txt
stderr.txt
stdout.txt
patients-api/.env
