.data{
    margin-top:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
}

.dataTable{
    width:80%;
    padding:2px;
    margin-top:20px;
    border-spacing: 0;
}

.findForm{
    width:45%;
}

.tableHead{
    color:#000000;
    font-size: 18px;
}
.even{
   background-color: rgba(242,242,242,0.5);
}
.odd{
   background-color: rgba(242,242,242,0.5);
}
td{
    padding:10px;
    text-align: center;
}

th{
    padding:10px;
}
buttonRed{
    background: #EB2416;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    margin-left: 10px;
    padding: 5px;
} 
/*input{
    border: none;
    border-bottom: 2px solid gray;
    background: transparent;
} */

.upload{
    background: transparent;
    padding: 10px 35px;
    color: #E32726;
    text-transform: uppercase;
    margin-top: 40px;
    border: 1px solid #E32726;
    margin-right: 30px;
}

.lighter{
    font-weight: lighter !important;
}